<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<th:block th:include="fragments/meta" />
		<th:block th:include="fragments/css" />
		<th:block th:include="fragments/shim" />
		<title>Redis: As Session State Cache with</title>
		
		<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
	</head>
	<body>
		
		</br> </br>
		
		<div class="container">
			
				<h5> Get your greeting: <a href="/greeting">here</a> </h5>
		</div>
		 
	</body>
</html>
